<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Bem vindo à Biblioteca Online!</title>
    <link rel="stylesheet" href="static\style.css">
    <link rel="icon" type="image/png" href="assets\book-icon.png">
</head>
<body>
    <div class="main_div">
        <div id="logCont">
                <h1>Login</h1>
                <form id="loginForm">
                <input type="email" id="email" placeholder="Email" required>
                <input type="password" id="senha" placeholder="Senha" required>
                <button type="submit">Entrar</button>
                </form>
                <p>Não tem conta? <a href="/cadastro" id="cadastroLink">Cadastre-se</a></p>
        </div>
        <div id="libImgCont">
            <img src="static\1722.jpg" alt="Library room" id="libRoom">
        </div>
    </div>
    <script src="static\login.js"></script>
</body>
</html>