<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Reservas - Biblioteca Online</title>
    <link rel="stylesheet" href="static\style.css">
    <link rel="icon" type="image/png" href="assets\book-icon.png">
</head>
<body>
    <nav class="menu">
        <ul class="menu-itens">
          <span id="nomeUsuario">Carregando...</span>
          <li><a href="/livros">Ver livros</a></li>
          <li><button onclick="logout()">Sair</button></li>
        </ul>
      </nav>
    <div class="container">
        <h1>Reservas do usuário</h1>
        <div id="reservasList"></div>
    </div>
    <script src="static\reservas.js"></script>
</body>
</html>